{% if categories | length > 0 %}
    <table class="striped">
        <thead>
            <th>Name</th>
            <th>Supports Gender Recording</th>
            {% if edit_enabled %}
                <th></th>
                <th></th>
            {% endif %}
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        {% if category.supports_gender %}
                            <span>Yes</span>
                        {% else %}
                            <span>No</span>
                        {% endif %}
                    </td>
                    {% if edit_enabled %}
                        <td>
                            <a href="{{ url_for('categories.edit', category_id=category.id) }}">
                                <i class="fa fa-edit" title="Edit Category"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <i class="fa fa-trash" title="Delete Category" data-bs-toggle="modal"
                                   data-bs-target="#confirm-popup" data-bs-record-id="{{ category.id }}" ></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
