{% if categories | length > 0 %}
    <table class="striped">
        <thead>
            <th>Name</th>
            {% if edit_enabled %}
                <th></th>
                <th></th>
            {% endif %}
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    {% if edit_enabled %}
                        <td>
                            <a href="{{ url_for('categories.edit', category_id=category.id) }}">
                                <i class="fa fa-edit" title="Edit Category"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <i class="fa fa-trash" title="Delete Category"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
