{% if sighting %}
    {% set title = "Edit Sighting" %}
    {% set submit_title = "Save Sighting" %}
    {% set species_id = sighting.speciesId %}
    {% set number = sighting.number if sighting.number else "" %}
    {% set current_gender = sighting.gender %}
    {% set current_with_young = sighting.withYoung %}
{% else %}
    {% set title = "Add Sighting" %}
    {% set submit_title = "Add Sighting" %}
    {% set species_id = 0 %}
    {% set number = "" %}
    {% set current_gender = "" %}
    {% set current_with_young = "" %}
{% endif %}
{% set location_required = "required" %}
{% set species_required = "required" %}

{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include "message.html" with context %}
    {% include "error.html" with context %}
    <form method="post">
        <div class="form-group">
            <label>Date</label>
            <input class="form-control" name="date" pattern="[\d]{2}\/[\d]{2}\/[\d]{4}"
                   placeholder="Sighting date DD/MM/YYYY" value="{{ sighting_date }}" required>
        </div>
        {% include "location_selector.html" with context %}
        {% include "species_selector.html" with context %}
        <div class="form-group">
            <label>Number</label>
            <input class="form-control" name="number" placeholder="Number of individuals sighted"
                   value="{{ number }}">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" name="gender" required>
                <option value="">Please select ...</option>
                {% for gender in genders %}
                    <option value="{{ gender }}" {% if gender == current_gender %}selected{% endif %}>
                        {{ genders[gender] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>With Young</label>
            <select class="form-control" name="with_young" required>
                <option value="">Please select ...</option>
                {% for option in with_young %}
                    <option value="{{ option }}" {% if option == current_with_young %}selected{% endif %}>
                        {{ with_young[option] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="button-bar">
            {% if sighting %}
                <button type="button" class="btn btn-light">
                    <a href="/sightings/list">Cancel</a>
                </button>
            {% endif %}
            <button type="submit" value="create" class="btn btn-primary">{{ submit_title }}</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/category-selection.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initialise_species_selection({{ category_id }}, {{ species_id }});
        })
    </script>
{% endblock %}
