{% if sighting %}
    {% set title = "Edit Sighting" %}
    {% set submit_title = "Save Sighting" %}
    {% set species_id = sighting.speciesId %}
    {% set number = sighting.number if sighting.number else "" %}
    {% set current_gender = sighting.gender %}
    {% set current_with_young = sighting.withYoung %}
    {% set current_notes = sighting.notes if sighting.notes else "" %}
{% else %}
    {% set title = "Add Sighting" %}
    {% set submit_title = "Add Sighting" %}
    {% set species_id = 0 %}
    {% set number = "" %}
    {% set current_gender = 0 %}
    {% set current_with_young = 0 %}
    {% set current_notes = "" %}
{% endif %}
{% set location_required = "required" %}
{% set species_required = "required" %}

{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include "message.html" with context %}
    {% include "error.html" with context %}
    <form name="sightings_form" id="sightings_form" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label>Date</label>
            <input class="form-control datepicker" name="date" id="date" pattern="[\d]{2}\/[\d]{2}\/[\d]{4}"
                   placeholder="Sighting date DD/MM/YYYY" value="{{ sighting_date }}" required>
        </div>
        {% include "location_selector.html" with context %}
        {% include "species_selector.html" with context %}
        <div name="defaulted-fields" id="defaulted-fields">
            <div class="form-group">
                <label>Number</label>
                <input class="form-control" name="number" placeholder="Number of individuals sighted"
                       value="{{ number }}">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" name="gender" required>
                    <option value="">Please select ...</option>
                    {% for gender in genders %}
                        <option value="{{ gender }}" {% if gender == current_gender %}selected{% endif %}>
                            {{ genders[gender] }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>With Young</label>
                <select class="form-control" name="with_young" required>
                    <option value="">Please select ...</option>
                    {% for option in with_young %}
                        <option value="{{ option }}" {% if option == current_with_young %}selected{% endif %}>
                            {{ with_young[option] }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" name="notes" rows="3">{{ current_notes }}</textarea>
        </div>
        <div class="button-bar">
            {% if sighting %}
                <button type="button" class="btn btn-light">
                    <a href="/sightings/list">Cancel</a>
                </button>
            {% endif %}
            <button type="submit" value="create" class="btn btn-primary">{{ submit_title }}</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/category-selection.js') }}"></script>
    <script type="text/javascript">
        function show_hide_default_fields() {
            const show_categories = ["Birds", "Mammals"];
            var category_name = $("#category").find(":selected").text().trim();
            if (show_categories.indexOf(category_name) > -1) {
                $("#defaulted-fields").show();
            } else {
                $("#defaulted-fields").hide();
            }
        }

        $(document).ready(function() {
            initialise_species_selection({{ category_id }}, {{ species_id }});
            show_hide_default_fields();

            // Need to set focus on the first control in the form
            $("#date").focus();

            $("#category").change(function() {
                show_hide_default_fields();
            })

            // Suppress ENTER on the drop-downs. Without this, hitting ENTER does submit the form
            // but the action very briefly pops up the select list items if a select has focus
            $("#location").keydown(function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });

            $("#category").keydown(function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });

            $("#species_selector").keydown(function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });

            $("#gender").keydown(function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });
            
            // ENTER key submits the form, though not if we're in a drop-down list or editing the notes
            $(document).keydown(function(e) {
                if (e.which == 13) {
                    $(".btn-primary").click();
                }
            });
        })
    </script>
{% endblock %}
