{% extends "layout.html" %}
{% block title %}Import Sightings{% endblock %}

{% block content %}
    <h1>Import Sightings</h1>
    {% include "error.html" with context %}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Sightings File</label>
            <input class="form-control" type="file" name="csv_file_name" required>
        </div>
        <div class="button-bar">
            <button type="button" class="btn btn-light">
                <a href="{{ url_for('sightings.list_filtered_sightings') }}">Cancel</a>
            </button>
            <button type="submit" value="create" class="btn btn-primary">Import Sightings</button>
        </div>
    </form>
{% endblock %}
