{% extends "layout.html" %}
{% block title %}Sightings{% endblock %}

{% block content %}
    <form method="post">
        <h1>Sightings</h1>
        {% include "message.html" with context %}
        {% include "filter_selector.html" with context %}
        {% if sightings | length > 0 %}
            <p>{{ sightings | length }} matching sighting{% if sightings | length > 1 %}s{% endif %} found</p>
            {% include "sightings/sightings.html" with context %}
            {% include "sightings/notes.html" with context %}
        {% else %}
            <span>There are no sightings in the database matching the specified criteria</span>
        {% endif %}
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/category-selection.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialise the category/species linked select lists
            initialise_species_selection("{{ category_id }}", "{{ species_id }}");

            // Wire up the reset filters button
            $("#reset").click(function() {
                $("#from_date").val("");
                $("#to_date").val("");
                $("#location").val("");
                $("#species").val("");
                $("#category").val("");
                document.forms[0].submit();
            });

            // Wire up the model "notes" dialog content update
            var notesModal = document.getElementById('notes-popup');
            notesModal.addEventListener('show.bs.modal', function (event) {
                // Extract the content from the element that triggered the modal
                var element = event.relatedTarget;
                var notes = element.getAttribute('data-bs-sighting-notes');

                // Apply the notes to the modal
                var modalBody = notesModal.querySelector('.modal-body');
                modalBody.innerHTML = notes;
            });
        })
    </script>
{% endblock %}
