{% if sightings | length > 0 %}
    <table class="striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Category</th>
                <th>Species</th>
                <th>Number</th>
                <th>Gender</th>
                <th>Young</th>
                {% if edit_enabled %}
                    <th/>
                    <th/>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sighting in sightings %}
                <tr>
                    <td>{{ sighting.location.name }}</td>
                    <td>{{ sighting.species.category.name }}</td>
                    <td>{{ sighting.species.name }}</td>
                    <td>{{ sighting.number }}</td>
                    <td>{{ sighting.gender_name }}</td>
                    <td>{{ sighting.with_young_name }}</td>
                    {% if edit_enabled %}
                        <td>
                            <a href="#">
                                <i class="fa fa-edit" title="Edit Sighting"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <i class="fa fa-trash" title="Delete Sighting"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
