<select class="form-control" name="species" id="species"
        {% if species_required %}required{% endif %}
        {% if species | length == 0 %}readonly{% endif %}>
    <option value="">Please select ...</option>
    {% for value in species %}
        <option value="{{ value.id }}" {% if value.id == species_id %}selected{% endif %}>
            {% if value.scientific_name != None %}
                {{ value.name }} ( {{value.scientific_name }} )
            {% else %}
                {{ value.name }}
            {% endif %}
        </option>
    {% endfor %}
</select>
