{% extends "layout.html" %}
{% block title %}Export Sightings{% endblock %}

{% block content %}
    <h1>Export Sightings</h1>
    <form method="post">
        {% include "filter_selector.html" with context %}
    </form>
    {% include "message.html" with context %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/category-selection.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialise the category/species linked select lists
            initialise_species_selection("{{ category_id }}", "{{ species_id }}");

            // Wire up the reset filters button
            $("#reset").click(function() {
                $("#from_date").val("");
                $("#to_date").val("");
                $("#location").val("");
                $("#species").val("");
                $("#category").val("");
                document.forms[0].submit();
            });
        })
    </script>
{% endblock %}
