{% extends "layout.html" %}
{% block title %}Locations{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" value="" name="delete_record_id" id="delete_record_id" />
        <h1>Locations</h1>
        {% include "error.html" with context %}
        {% if locations | length > 0 %}
            {% include "locations/locations.html" with context %}
            {% include "confirm.html" with context %}
        {% else %}
            <span>There are no locations in the database</span>
        {% endif %}
    </form>
    <div class="button-bar">
        <button type="button" class="btn btn-primary">
            <a href="{{ url_for('locations.edit') }}">Add Location</a>
        </button>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/confirm-popup.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialise the confirmation popup, used to confirm record deletions
            initialise_confirm_popup(function(recordId) {
                $("#delete_record_id").val(recordId);
                document.forms[0].submit();
            });
        })
    </script>
{% endblock %}
