{% extends "layout.html" %}
{% block title %}Life List{% endblock %}

{% block content %}
    <form method="post">
        <h1>Life List</h1>
        <div class="filter-criteria">
            {% include "category_selector.html" with context %}
            <div class="button-bar">
                <button type="button" value="import" class="btn btn-light">
                    <a href="{{ url_for('export.export_life_list') }}">Export Life List</a>
                </button>
                <button type="submit" value="filter" class="btn btn-primary">List Species</button>
            </div>
        </div>
        {% if species | length > 0 %}
            <p>There are {{ species | length }} species in the life list for "{{ category.name }}"</p>
            {% include "species.html" with context %}
        {% elif category_id %}
            <span>There are no species in the database for the specified category</span>
        {% endif %}
    </form>
{% endblock %}
