{% extends "layout.html" %}
{% block title %}Species{% endblock %}

{% block content %}
    <form method="post">
        <h1>Species</h1>
        <div class="filter-criteria">
            {% include "category_selector.html" with context %}
            <div class="button-bar">
                <button type="submit" value="filter" class="btn btn-light">List Species</button>
                <button type="button" class="btn btn-primary">
                    <a href="{{ url_for('species.edit') }}">Add Species</a>
                </button>
            </div>
        </div>
        {% if species | length > 0 %}
            {% include "species.html" with context %}
        {% elif category_id %}
            <span>There are no species in the database for the specified category</span>
        {% endif %}
    </form>
{% endblock %}
