<div class="modal fade" id="confirm-popup" tabindex="-1" aria-labelledby="confirm-popup-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-popup-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
                <input type="hidden" value="" id="confirm-record-id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="confirm-no-button">
                    No
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirm-yes-button">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
