<div class="form-group">
    <label>From</label>
    <input class="form-control datepicker" name="from_date" id="from_date" pattern="[\d]{2}\/[\d]{2}\/[\d]{4}"
           placeholder="Sighting date DD/MM/YYYY" value="{{ from_date }}" {{ from_date_required }}>
</div>
<div class="form-group">
    <label>To</label>
    <input class="form-control datepicker" name="to_date" id="to_date" pattern="[\d]{2}\/[\d]{2}\/[\d]{4}"
           placeholder="Sighting date DD/MM/YYYY" value="{{ to_date }}">
</div>
