<div class="filter-criteria">
    {% if filename_required %}
        <div class="form-group">
            <label>Filename</label>
            <input class="form-control" name="filename" id="filename" placeholder="CSV file name e.g. exports.csv"
                   required>
        </div>
    {% endif %}

    {% include "date_range_selector.html" with context %}
    {% include "location_selector.html" with context %}
    {% include "species_selector.html" with context %}

    <div class="button-bar">
        <button type="button" name="reset" id="reset" value="reset" class="btn btn-light">Reset Filters</button>
        <button type="submit" value="filter" class="btn btn-primary">{{ action_button_label }}</button>
    </div>
</div>
