 <strong>
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('sightings.list_filtered_sightings') }}">Sightings</a></li>
            <li><a href="{{ url_for('export.export') }}">Export</a></li>
            <li><a href="{{ url_for('locations.list_all') }}">Locations</a></li>
            <li><a href="{{ url_for('categories.list_all') }}">Categories</a></li>
            <li><a href="{{ url_for('species.list_filtered_species') }}">Species</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </nav>
</strong>
