{% if status_scheme %}
    {% set title = "Edit Conservation Status Scheme" %}
    {% set status_scheme_id = status_scheme.id %}
    {% set status_scheme_name = status_scheme.name %}
    {% set action_button_label = "Save Conservation Status Scheme" %}
    {% set status_ratings = status_scheme.ratings %}
{% else %}
    {% set title = "Add Conservation Status Scheme" %}
    {% set status_scheme_id = 0 %}
    {% set status_scheme_name = "" %}
    {% set action_button_label = "Add Conservation Status Scheme" %}
    {% set status_ratings = None %}
{% endif %}

{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include "error.html" with context %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" value="" name="delete_record_id" id="delete_record_id" />
        <div class="filter-criteria">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" id="name" placeholder="Conservation scheme name e.g. BOCC4"
                       value="{{ status_scheme_name }}" required>
            </div>
            <div class="button-bar">
                    <button type="button" class="btn btn-light">
                        <a href="{{ url_for('status.list_all') }}">Cancel</a>
                    </button>
                {% if status_scheme %}
                    <button type="button" class="btn btn-light">
                        <a href="{{ url_for('status.edit_rating', status_scheme_id=status_scheme_id) }}">Add Status Rating</a>
                    </button>
                {% endif %}
                <button type="submit" value="filter" class="btn btn-primary">{{ action_button_label }}</button>
            </div>
        </div>
    </form>
    {% if status_ratings %}
        <h1>Status Ratings</h1>
        {% include "status/status_ratings.html" with context %}
        {% include "confirm.html" with context %}
    {% elif status_scheme %}
        <span>There are no ratings in the database for this conservation status scheme</span>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/confirm-popup.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialise the confirmation popup, used to confirm record deletions
            initialise_confirm_popup(function(recordId) {
                $("#delete_record_id").val(recordId);
                document.forms[0].submit();
            });
        })
    </script>
{% endblock %}

