{% extends "layout.html" %}
{% block title %}Import Conservation Status Ratings{% endblock %}

{% block content %}
    <h1>Import Conservation Status Ratings</h1>
    {% include "error.html" with context %}
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label>Ratings File</label>
            <input class="form-control" type="file" name="csv_file_name" required>
        </div>
        <div class="button-bar">
            <button type="submit" value="create" class="btn btn-primary">Import Ratings</button>
        </div>
    </form>
{% endblock %}
