{% extends "layout.html" %}
{% block title %}Conservation Status Schemes{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" value="" name="delete_record_id" id="delete_record_id" />
        <h1>Conservation Status Schemes</h1>
        {% include "error.html" with context %}
        {% include "message.html" with context %}
        {% if status_schemes | length > 0 %}
            {% include "status/status_schemes.html" with context %}
            {% include "confirm.html" with context %}
        {% else %}
            <span>There are no conservation status schemes in the database</span>
        {% endif %}
    </form>
    {% if edit_enabled %}
        <div class="button-bar">
            <button type="button" class="btn btn-primary">
                <a href="{{ url_for('status.edit_scheme') }}">Add Conservation Status Scheme</a>
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for( 'static', filename='script/confirm-popup.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialise the confirmation popup, used to confirm record deletions
            initialise_confirm_popup(function(recordId) {
                $("#delete_record_id").val(recordId);
                document.forms[0].submit();
            });
        })
    </script>
{% endblock %}
